.componente-contacto{

  background-color: #db8030;
  color: black;
  margin-bottom: 10px 0;
  border-radius: 5px;
}

.excluir {
  background: rgb(218, 40, 40); 
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 10px;
}

.excluir:hover {
  background: rgb(138, 29, 29);
  color: #ffffff;
  transition: 0.5s;
}

.editar {
  background: rgb(55, 132, 184);
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 10px;
  margin-top: 5px;
}

.editar:hover {
  background: rgb(17, 40, 172);
  color: #ffffff;
  transition: 0.5s;
}